<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
      /* email-specific styles (most clients strip external CSS, so inline styles are best) */
    </style>
  </head>

  <body>
    <!-- all email templates will insert their content here -->
    <%= yield %>
  </body>
</html>
